.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 80px 70px;
}

.about-title h1 {
  font-size: 80px;
  font-weight: 600;
  background: linear-gradient(90deg, #01ca01, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.photo-frame {
  flex-shrink: 0;
  border-radius: 20%;
  padding: 8px;
  background: linear-gradient(90deg, #01ca01, blue);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.photo-frame img {
  display: block;
  border-radius: 20%;
  width: 300px;
  height: 465px;
}

.about-para {
  flex: 1;
  font-size: 20px;
}

.about-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  border: 2px solid;
  box-shadow: 0px 0px 10px grey;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.about-skill {
  margin-left: 30px;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-skill i {
  font-size: 30px;
  margin-top: 10px;
}

.about-skill:nth-child(1) i {
  color: orange;
}

.about-skill i:nth-of-type(2) {
  color: rgb(0, 153, 255);
}

.about-skill:nth-child(2) i {
  color: blue;
}

.about-skill:nth-child(3) i {
  color: red;
}

.about-skill:nth-child(4) i {
  color: #4b8bbe;
}

.about-skill:nth-child(5) i {
  color: rgb(75, 103, 194);
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(90deg, #01ca01, blue);
}

@media (max-width: 800px) {
  .about-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .photo-frame img {
    width: 250px;
    height: auto;
  }

  .about-para {
    text-align: center;
  }
  .about-skill {
    left: 0;
  }
}
